fastapi
uvicorn[standard]
prometheus-fastapi-instrumentator
opentelemetry-instrumentation-fastapi
grpcio
protobuf
python-dotenv
SQLAlchemy
psycopg2
pytest
bcrypt
dotenv
pyjwt
python-decouple
pika
black
ruff
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-grpc

